body{
    margin:0;
    font-family:Arial;
    background:#f2f2f2;
}

.container{
    width:95%;
    max-width:700px;
    margin:auto;
    text-align:center;
    padding-top:40px;
}

h1{
    color:darkgreen;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
}

button{
    width:85%;
    max-width:450px;
    padding:20px;
    margin:15px;
    font-size:20px;
    font-weight:bold;
    border:none;
    border-radius:15px;
    background:green;
    color:white;
    cursor:pointer;
}

.card {
    width:95%;
    padding:25px;
    margin:20px auto;
    border-radius:15px;
    background:white;
    font-size:18px;          /* base text size */
    line-height:1.6;         /* better spacing */
    color:#222;
    text-align:left;
}



@media screen and (max-width:600px){

    body{
        font-size:22px;
    }

    h1{
        font-size:34px;
    }

    h2{
        font-size:28px;
    }

    h3{
        font-size:24px;
    }

    p{
        font-size:22px;
        line-height:1.8;
    }

    button{
        width:100%;
        font-size:24px;
        padding:22px;
        margin-top:15px;
        border-radius:15px;
    }

    input{
        width:100%;
        font-size:22px;
        padding:18px;
    }

    textarea{
        width:100%;
        font-size:22px;
        padding:18px;
    }

    .container{
        width:95%;
        padding:15px;
    }

    .card{
        width:100%;
        padding:20px;
        margin-top:20px;
    }

    img{
        width:100%;
        height:auto;
    }
}

.main-logo{
    width:320px;
    height:auto;
    display:block;
    margin:25px auto;
}

.my-logo{
    width:280px;
    height:auto;
    display:block;
    margin:10px auto;
}


.logo{
    width:310px;
    height:auto;
}

