<!DOCTYPE html>
<html>

<head>

    <title>Select Device</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <!-- LOGO -->
    <img src="{{ url_for('static', filename='images/logo.png') }}"
         class="main-logo">

    <!-- TITLE -->
    <h1>Select Your Device</h1>

    <!-- PC BUTTON -->
    <a href="/device/pc">
        <button>Using From PC / Laptop</button>
    </a>

    <br><br>

    <!-- MOBILE BUTTON -->
    <a href="/device/mobile">
        <button>Using From Android / iPhone</button>
    </a>

</div>

</body>
</html>