<!DOCTYPE html>
<html>

<head>

    <title>Health History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1 class="title">
            Health History
        </h1>

        <a href="/dashboard">

            <button class="back-btn">
                Back
            </button>

        </a>

        <table class="history-table">

            <tr>

                <th>Date & Time</th>

                <th>Problem</th>

                <th>Symptoms</th>

                <th>Suggestions</th>

            </tr>

            {% for row in records %}

            <tr>

                <td>{{ row[1] }}</td>

                <td>{{ row[2] }}</td>

                <td>{{ row[3] }}</td>

                <td>{{ row[4] }}</td>

            </tr>

            {% endfor %}

        </table>

    </div>

</body>

</html>